<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Azure" connectionString="DefaultEndpointsProtocol=https;AccountName=yourstoragename;AccountKey=yourprivatekey;BlobEndpoint=https://yourstoragename.blob.core.windows.net/;TableEndpoint=https://yourstoragename.table.core.windows.net/;QueueEndpoint=https://yourstoragename.queue.core.windows.net/;FileEndpoint=https://yourstoragename.file.core.windows.net/" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>